body{
    font-size: 200%;
    --themecolor: rgb(2, 159, 107);
}
#main-container{
    margin-top:2%;
    margin-left:2%;
    margin-right:2%;
}
.display-type{
    font-weight: bolder;
}
#one{
    display: grid;
}
#two{
    display: none;
}
/* #three{
    display: none;
} */

/* Switch botton */
#switch-bar{
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.swbtn{
    background-color:var(--themecolor);
    border-radius:4%;
    border-style: none;

    width: auto;
    height: auto;

    padding: 0.4% 1%;
    margin-right: 0.3%;
    margin-left:0.3%;

    color: white;
}
.swbtn:hover{
    cursor: pointer;
    opacity: 0.75;
}
.swbtn:active{
    cursor: pointer;
    opacity: 0.5;
}



/* Mode One */
#one-overview-contianer{
    display: flex;
    flex-direction: row;
}
#one-total{
    margin-right:10%;
}
#one-graphs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-evenly;
}

#info{
    color: white;
}


